//setting the primitive variable
$primary-color: #444;
$secondary-color:rgb(255, 0, 149);
$third-color:rgb(66, 0, 128);
$show-home-image: true;
$home-image: url(../img/background1.jpeg);
$background-opacity: 0.7;
@mixin easeOut {
  transition: color 1.5s ease-out;
}
